<%- include("../template/encabezado") %>
<div class="container mt-5">
    <form action="/login" method="post">
        <div class="card">
            <div class="card-header" style="background-color: antiquewhite;">
                <center><h1> INICIAR SESIÓN</h1></center>
            </div>
            <div class="card-body">
                <input class="form-control mb-3" type="text" name="usuario" id="usuario" placeholder="Usuario" >
                <input class="form-control mb-3" type="text" name="password" id="password" placeholder="Password" >
            
            </div>
            <div class="card-footer">
                <button class="form-control btn btn-success" >INICIAR SESIÓN</button>

                <center><a href="/nuevousuario" class="form-control btn btn-dark mt-3">REGISTRARSE</a></center>

            </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
        </div>

    </form>
</div>
<%- include("../template/pie") %>