<%- include("../template/encabezado") %>
<%- include("../template/menu") %>

<div class="container mt-5">
    <form action="/nuevaPelicula" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header" style="background-color: antiquewhite;">
                <h1>NUEVA PELICULA</h1>
            </div>
            <div class="card-body">
                <input class="form-control mb-3" type="text" name="titulo" id="titulo" placeholder="Titulo" autofocus>
                <input class="form-control mb-3" type="text" name="duracion" id="duracion" placeholder="Duración">
                <input class="form-control mb-3" type="text" name="productora" id="productora" placeholder="Productora">
                <input class="form-control mb-3" type="file" name="foto" id="foto" >
            </div>
            <div class="card-footer">
                <button class="form-control btn btn-success" >Guardar Pelicula</button>
            </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
        </div>
    </form>
</div>
<%- include("../template/pie") %>